.fieldCell {
  width: 100%;
  height: 100%;
  border: 0;
  position: relative;
  background-color: transparent;
  &:hover {
    background-color: rgba($color: #000000, $alpha: 0.5);
  }
}
.fieldCellActive {
  background-color: rgba($color: #58e000, $alpha: 0.5);
}
.fieldCellToMove {
  background-color: rgba($color: #3aaacc, $alpha: 0.5);
}
.charImage {
  position: absolute;
  top: 0;
  left: 0;
  height: 7.5vh;
  width: auto;
  z-index: 1;
  border: 1px solid white;
  &:active {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 14vh;
    z-index: 2;
  }
}
.zombieItemImage {
  position: absolute;
  top: 0;
  right: 0;
  height: 7.5vh;
  width: auto;
  z-index: 1;
  border: 1px solid white;
  &:active {
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    height: 14vh;
    z-index: 2;
  }
}
$flipCardSize: 85%;
.flipCardImage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: $flipCardSize;
  width: $flipCardSize;
}
