div[id="root"] {
  height: 100%;
  width: 100%;
}

body {
  @extend %font-prim;
  @include font($size: 1.4rem, $height: 2.6rem, $weight: normal);
  background-color: $board-page-bg-color;
  transition: all 0.5s;
}
